.container {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 24px;
    color: #333;
    margin: 0 0 20px;
}

.course-container {
    display: flex;
    flex-wrap: wrap;
}

.course-card {
    width: calc(33.33% - 20px);
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    position: relative;
}

.course-card img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.course-card h2 {
    font-size: 18px;
    padding: 10px;
    margin: 0;
}

.course-card p {
    font-size: 14px;
    padding: 0 10px 10px;
    margin: 0;
}

.course-card:hover {
    transform: scale(1.03);
}
